{% comment %}
  NOTE:
  inline-block comment bc site-nav will change
  to inline-block at a breakpoint
{% endcomment %}

<header class="site-header">
  <div class="wrapper">
    <a class="site-title  logo  link--secret" href="{{ site.baseurl }}/">{{ site.title }}</a><!--
 --><nav class="site-nav">
      <a class="site-nav__item  site-nav__item--home  link--underline-animation" href="{{ site.baseurl }}/">home</a>
      <a class="site-nav__item  site-nav__item--writing  link--underline-animation" href="{{ site.baseurl }}/writing/">writing</a>
      <a class="site-nav__item  site-nav__item--about  link--underline-animation" href="{{ site.baseurl }}/about/">about</a>
    </nav>
  </div>
</header>
