.wrapper {
  padding: 0 $space/4;
  @media (min-width: 640px) {
    padding: 0 $space/2;
  }
  @media (min-width: 800px) {
    padding: 0 $space;
  }
}

.page-content {
  padding-top: $space;
}

.breakout {
  margin-left: -$space;
  padding-left: $space;
}

.post-delimiter {
  height: 1px;
  border: none;
  background-color: #D8D8D8;
  @include px-to-rem(margin, 0 0 $baseUnit (-$space));
}
