.wrapper {
  padding: 0 $space/4;
  @media (min-width: 550px) {
    padding: 0 $space/2;
  }
  @media (min-width: 800px) {
    padding: 0 $space;
  }
}

.page-content {
  max-width: 720px;
  padding-top: $space;
  @media (min-width: 1024px) {
    max-width: 900px;
  }
  @media (min-width: 1440px) {
    max-width: 1000px;
  }
  @media (min-width: 1920px) {
    max-width: 1300px;
  }
}

.breakout {
  margin-left: -$space;
  padding-left: $space;
}

hr {
  height: 1px;
  border: none;
  background-color: #D8D8D8;
  @include px-to-rem(margin, 0 0 $baseUnit (-$space));
}
