.site-header {
  border-bottom: 1px solid $borderColor;
  line-height: $baseUnit*3;
  background-color: $mainColor04;

  a {
    color: $white;
  }
}

.site-nav {
  display: inline-block;
  float: right;
}

.site-nav .page-link:not(:last-child) {
  margin-right: $baseUnit; 
}
