// TODO: better selector
a:not(.post-link):not(.page-link):not(.site-title) {
  color: $mainColor04;
  background: transparent;
  transition: .1s ease-in-out;
  text-decoration: none;
  border-bottom: 1px solid $mainColor04;

  &:hover {
    color: $white;
    background: $mainColor04;
    text-decoration: none;
  }

  &:active {
    position: relative;
    top: 2px; 
  }
}

.link--secret {
  color: $mainColor01; 
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.page-link {
  text-transform: capitalize;

  @include media(640px) {
    text-transform: uppercase;
  }
}

// used in header
.link--underline-animation {
  position: relative;
  text-decoration: none;
  padding-bottom: 10px;

  &:after {
    transition: .3s cubic-bezier(1, 1, 0.10, 1);
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    margin: auto;
    content: '';
    color: transparent;
    background: $white;
  }

  &:hover:after {
    width: 100%;
  }
}

.post-meta,
.post-link {
  transition: .3s ease-in-out;
}

.post-item:hover {
  .post-meta,
  .post-link {
    color: $mainColor04;
  }
}
