.post-list {
  margin-bottom: 100px;
}

.post-item {
  border-bottom: 1px solid $borderColor;
  padding: $baseUnit 0;
  
  &:first-child {
    border-top: 1px solid $borderColor;
  }

  h2 {
    margin-bottom: 0;
  }
}

.post-meta {
  padding-right: $baseUnit*1.5;
}
