/**
 * _typo.scss
 *
 * Author: Johannes Rückert
 *
 */

html {
  font-family: $fontPrimary;
  font-size: ($baseFontSize / 16px) * 1em;
  line-height: $lineHeightRatio;
  color: $mainColor02;  

  @media (min-width: 1024px) {
    font-size: 1.25em;
  }
  @media (min-width: 1440px) {
    font-size: 1.5em;
  }
  @media (min-width: 1920px) {
    font-size: 1.75em;
  }
}

h1, .heading-1,
h2, .heading-2,
h3, .heading-3,
h5, .heading-5,
h6, .heading-6 {
  color: $mainColor01;
  font-weight: 400;
}


h1,
.heading-1,
%heading-1 { 
  @include font-size($headingSize1);
}

h2,
.heading-2,
%heading-2 { 
  @include font-size($headingSize2);
}

h3,
.heading-3,
%heading-3 { 
  @include font-size($headingSize3);
}

h4,
.heading-4,
%heading-4 { 
  @include font-size($headingSize4);
  text-transform: uppercase;
}

h5,
.heading-5,
%heading-5 { 
  @include font-size($headingSize5);
}

h6,
.heading-6,
%heading-6 { 
  @include font-size($headingSize6);
}

p {
  //margin-bottom: 40px;
}

// typo helper
.txt--small {
  @include font-size(14px);
}

.txt--dark {
  color: $mainColor01;
}

.txt--secondary {
  font-family: $fontSecondary;
}

.txt--up {
  text-transform: uppercase;
}
