/**
 * style.scss
 *
 * Author: Johannes Rückert
 *
 */

/**
 * basicss overrides
 *
 * any defaults in basicss/basicss/_settings.scss
 * may be overridden...
 *
 * e.g. $prototyping: true;
 */

$gridObject: true;

$space:                 80px;

// typo
$baseFontSize:          18px;
$baseLineHeight:        28px;
$fontPrimary:           'PT Sans', sans-serif;

$headingSize1:          48px;
$lineHeightHeading1:    62px;

$headingSize2:          36px;
$lineHeightHeading2:    46px;

$headingSize3:          28px;
$lineHeightHeading3:    36px;

$headingSize4:          21px;
$lineHeightHeading4:    27px;

$headingSize5:          21px;
$lineHeightHeading5:    27px;

$headingSize6:          18px;
$lineHeightHeading6:    23px;

// colors
$mainColor01:     #333333; // (mostly) headlines
$mainColor02:     #777777; // normal text
$mainColor03:     #999999; // descriptions
$mainColor04:     #826AC4; // highlight-color (atm purple) 
$white:           #FFFFFF;

$borderColor:     #D8D8D8; 
$codeBlockColor:  #F4F4F4;
$colorLink:       $mainColor02;

/**
 * basicss import
 */

@import 'bower_components/basicss/basicss';

/**
 * userstyle imports
 *
 * e.g. @import 'nav';
 */

@import 'typo';
@import 'base';
@import 'links';
@import 'syntax';
@import 'list-bare';
@import 'header';
@import 'posts';
@import 'media';
@import 'constrain';
@import 'footer';
